@import "./common/header.css";
@import "./common/footer.css";
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
*{
  box-sizing: border-box;
}
hr{
  width: 1180px;
  margin: 0 auto;
}
/* =======開箱及介紹文=========== */
div.poz_088{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* border: 1px solid black; */

}
div.poz_content{
  display: inline-block;
  max-width: 38%;
  left: 20px;
  text-align: left;
}
div.blog_1{
  max-width: 65%;
}
div.poz_content p.poz_088{
  margin: 0;
}

div.poz_content p.poz_1{
margin-bottom: 50px;
}
div.poz_content p.poz_088 span{
  font-size: 20px;
}

div.poz_content p.poz_1 a {
  text-decoration: none;
  color: black;
}

div.poz_photo{
  display: inline-block;
  max-width: 100%;
  margin-top: 20px;
  margin-left:4%;
  height: 300px;
}
div.poz_photo img{
  max-width: 90%;
}
hr{
  max-width: 80%;
}
/* ===========SGY-666========= */

div.sgy_666{
  max-width: 100%;
  /* display: inline-block; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 1.5%;
}

p.sgy_666 span{
  font-size: 20px;
}

div.sgy_content{
  max-width:38%;
  display: inline-block;
  /* position: relative; */
  /* bottom: 200px; */
  left: 20px;
  text-align: left;
}
div.sgy_content p.sgy_1 {
  margin-bottom: 50px;
}
div.sgy_content p.sgy_1 a {
  text-decoration: none;
  color: black;
}
div.sgy_photo{
  max-width: 100%;
  display: inline-block;
  margin-left: 60px;
}
div.sgy_photo img{
  max-width: 90%;
}
/* ==========xdx-100=============== */
div.xdx_100{
  max-width: 100%;
  /* display: inline-block; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 1.5%;
}

p.xdx_100 span{
  font-size: 20px;
}

div.xdx_content{
  max-width: 38%;
  display: inline-block;
  /* position: relative;
  bottom: 200px; */
  text-align: left;
  left: 20px;
}
div.xdx_content p.xdx_1{
  margin-bottom: 50px;
}

div.xdx_content p.xdx_1 a {
  text-decoration: none;
  color: black;
}

div.xdx_photo{
  max-width:100%;
  display: inline-block;
  margin-left: 60px;
}
div.xdx_photo img{
  max-width: 90%;
}

/* ==========xoz-066================== */
div.xoz_066{
  max-width: 100%;
  /* display: inline-block; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 1.5%;
}

p.xoz_066 span{
  font-size: 20px;
}

div.xoz_content{
  max-width: 38%;
  display: inline-block;
  /* position: relative;
  bottom: 200px; */
  left: 20px;
  text-align: left;
}
div.xoz_content p.xoz_1{
  margin-bottom: 50px;
}
div.xoz_content p.xoz_1 a {
  text-decoration: none;
  color: black;
}

div.xoz_photo{
  max-width:100%;
  display: inline-block;
  margin-left: 60px;
}
div.xoz_photo img{
  max-width: 90%;
}
/* ===========yoy-168============= */
div.yoy_168{
  max-width: 100%;
  /* display: inline-block; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 1.5%;
}

p.yoy_168 span{
  font-size: 20px;
  
}

div.yoy_content{
  max-width: 38%;
  display: inline-block;
  /* position: relative;
  bottom: 180px; */
  left: 20px;
  text-align: left;
}
div.yoy_content p.yoy_1{
  margin-bottom: 50px;
}
div.yoy_content p.yoy_1 a {
  text-decoration: none;
  color: black;
}

div.yoy_photo{
  max-width: 100%;
  display: inline-block;
  margin-left: 60px;
}
div.yoy_photo img{
  max-width: 90%;
}
/* =========頁數============ */
div.pagination_block{
  font-size: 15px;
  max-width: 100%;
  margin: 0 auto;
}

div.pagination_block ul.pagination{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  
}

div.pagination_block ul.pagination li{
  display: inline-block;
  margin: 0 10px;
}

div.pagination_block ul.pagination li a{
  text-decoration: none;
  color: black;
  
}