@import "./common/header.css";
@import "./common/footer.css";
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
  div.banner_bg{
  max-width:100%;
  /* border: 1px solid red; */
  margin-right:auto;
  margin-left:auto;
} 
div.banner_bg img{
  max-width: 100%;
}

div.main_container{
  max-width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
}
div.main_container h1.popular_1{
  max-width: 100%;
  margin: 30px auto;
  text-align: center;
  /* margin-top: 30px; */
}

div.content{
  width:20%;
  text-align: center;
  position: relative;
  top: 30px;
}

div.banner_bg div.content p.xdx_990{
  margin: 0;
}

div.content p.xdx_990 span{
  font-weight: 700;
  font-size: 50px;
}
div.content p.slog{
  font-size: 30px;
}

div.content p.descrbtion{
  font-size: 30px;
}

/* ==============耳機==================== */
div.product_line div.product_1{
  /* border: 1px solid black; */
  max-width: 100%;
  min-height: 200px;
  margin: 20px;
  display: inline-block;
  text-align: center;
  margin-left: 63px;  
}
div.product_line div.product_1 img{
  max-width: 100%;
}
div.product_line img p{
  display: inline-block;
}

div.product_line{
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width:767px){
  div.product_line div.product_1{
    max-width: 80%;
  }
  div.product_line div.product_1 img{
    max-width: 80%;
  }
}
@media screen and (max-width:540px){
  div.product_line div.product_1{
    max-width: 65%;
  }
  div.product_line div.product_1 img{
    max-width: 65%;
  }
}

/* ===============音響========== */
div.main_container h1.popular_1{
  text-align: center;
}

div.banner_middle{
  max-width:100%;
  /* border: 1px solid red; */
  /* margin: 25px auto; */
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  max-height: 700px;
} 
div.banner_middle img{
  max-width: 100%;
  margin: 0 auto;
}

div.banner_middle div.content{
  /* border: 1px solid white; */
  position: relative;
  top: -200px;
  left: 10%;
}
div.banner_middle div.content p.xdx_100 span{
  color: white;
  font-size: 40px;
  font-weight: 700;
}

div.banner_middle div.content p.slog_middle{
  color: white;
  font-size: 20px;
}
@media screen and (max-width:600px){
  div.banner_middle div.content p.xdx_100 span{
    font-size: 25px;
  }
  iv.banner_middle div.content p.slog_middle{
    font-size: 16px;
  }
}
@media screen and (max-width:321px){
  div.banner_middle div.content p.xdx_100 span{
    font-size: 22px;
  }
  div.banner_middle div.content{
    position: relative;
    top: -180px;
  }
}
h1.popular_2{
  text-align: center;
  /* border: 1px solid black; */
  max-width: 100%;
  margin:30px auto;
}

div.product_line2{
  max-width: 100%;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /* border: 1px solid red; */
}

div.product_line2 div.product_2{
  display: inline-block;
  /* border: 1px solid black; */
  max-width: 100%;
  min-height: 200px;
  text-align: center;
  margin-right: 20px;
  margin-left: 63px;
  
}
div.product_line2 div.product_2 img{
  max-width: 100%;
}

@media screen and (max-width:767px){
  div.product_line2 div.product_2{
    max-width: 80%;
  }
  div.product_line2 div.product_2 img{
    max-width: 80%;
  }
}
@media screen and (max-width:540px){
  div.product_line2 div.product_2{
    max-width: 65%;
  }
  div.product_line2 div.product_2 img{
    max-width: 65%;
  }
}
/* ===============關於我們=============== */
div.banner_down{
  max-width: 100%;
  /* border: 1px solid black; */
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}
div.banner_down img{
  max-width: 100%;
  margin: 0 auto;
}
div.banner_down div.content{
  position: relative;
  top: 170px;
  left: 700px;
  display: inline-block;
}

div.content p.about_us{
  color: red;
  font-size: 20px;
}

div.content p.slog1{
  color: red;
  font-size: 20px;
  display: inline-block;
}

div.content p.slog3 a{
  text-decoration: none;
  font-size: 14px;
}

/* ==============最新消息及門市資訊============ */
div.information{
  font-size: 0;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  /* border:  1px solid red; */
  text-align: center;
}

@media screen and (max-width:1200px){
  div.information{
    display: none;
  }
}

div.map_road{
  width: 600px;
  display: inline-block;
  /* margin-left: 160px; */
  margin-right: 0;   
}

div.store_1{
  width: 600px;
  /* border: 1px solid black; */
  display: inline-block;
  font-size: 18px;
  position: absolute;
  top:40px;
  left: 1px;
  margin-left: 120px;
  text-align: center;
}


div.news_1{
  display: inline-block;
  width:600px;
}

div.news_1 p.title{
  margin: 0;
  /* border: 1px solid black; */
  text-align: center;
  font-size: 16px;
  display: inline-block;
  background-color: rgb(128, 128, 128);
  height: 30px;
  text-decoration: none;
  width: 600px;
  font-size: 20px;
  text-align: center;
}

div.news_1 p{
  width: 598px;
  /* border: 1px solid red; */
  margin: 0;
  font-size: 16px;
  border-bottom: 1px solid gray;
  margin-top: 25px;
  text-align:left;
  padding-left:20px;
}

div.news_1 p.news span{
  padding-right: 10px;
}

div.information div.map_road,div.news_1{
  vertical-align: top;
  height: 320px;
  /* border: 1px solid black; */
  
}

div.information div.map_road{
  /* border-right: 1px solid black; */
}

.map_1 {
  position: relative;
  text-align: center;
  top:50px;
}

div.information>div.map_road > div.A{
  /* border: 1px solid black; */
  width: 600px;
  text-align: center;
  background-color: gray;
  margin: 0;
  display:inline-block;
  font-size: 16px;
  height: 30px;
  position: relative;
  font-size: 20px;
}

div.information>div.map_road > div.A>div{
  position: absolute;
  right: 40px;
  top: 10px;
}


